html , body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:monospace,'Courier New', Courier;
}
#calc{
    display: flex;
    background-color: #05445E;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 10px 8px grey;
    height: fit-content;
    width: 420px;
    margin: auto;

}

.display{
    display: block;
    flex-grow: 1;
    background-color: #D4F1F4;
    height:fit-content ;
    margin: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
    box-shadow: 0 0 3px 4px black inset;
}

.log{
    padding: 10px;
    min-height: 35px;
    text-align: end;
    vertical-align: middle;
    font-size: x-large;
    text-shadow:1px 1px #05445E;
}
.current{
    min-height: 35px;
    padding: 10px;
    vertical-align: bottom;
    text-align: end;
    font-size: xx-large;
    word-wrap: break-word;
    text-shadow:1.5px 1.5px #05445E
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    box-sizing: border-box;
}

button{
    width: 100px;
    height: 50px;
    border: 2px solid black;

}

.operator{
    background-color: #189AB4;
}

.num{
    background-color: #75E6DA;
}

#equal{
    flex-grow: 1;
}