html , body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:monospace,'Courier New', Courier;
    background-color: whitesmoke
}
#calc{
    display: flex;
    background-color: #05445E;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px 8px black;
    height: fit-content;
    width: 420px;
    margin: auto;

}

.display{
    display: block;
    flex-grow: 1;
    border-radius: 8px;
    background-color: #D4F1F4;
    height:fit-content ;
    margin: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
    box-shadow: 0 0 3px 4px black inset;
}

.log{
    padding: 10px;
    min-height: 35px;
    text-align: end;
    vertical-align: middle;
    font-size: x-large;
    text-shadow:1px 1px #05445E;
}
.current{
    min-height: 35px;
    padding: 10px;
    vertical-align: bottom;
    text-align: end;
    font-size: xx-large;
    word-wrap: break-word;
    text-shadow:1.5px 1.5px #05445E
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    box-sizing: border-box;
}

button{
    width: 100px;
    height: 80px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: large;
    font-weight: 700;
    transition: all 0.08s;
}

.operator , .toggle{
    background-color: #5adccf;
}

.num{
    background-color: aqua
}

#ac , #del{
    width: 200px;
    height: 60px;
    background-color: #189AB4;
}

#zero {
    flex-grow: 1;
}

.clicked {
    transform: scale(0.9);
    border-color: antiquewhite;
    box-shadow: 0 0 10px antiquewhite;
    background-color: whitesmoke;
}